@import "../../scss/variables";

.modal-header {
    border-bottom: none;
    padding: 20px 20px 0;
}

.modal-body {
    padding: 0 60px 60px;
}

.modal-title {
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: 200;
}

.close-button {
    content: url($baseAssetPath + "ico_close.svg");
}

input {
    font-weight: 300;
}
